In [1]:
import pandas as pd
import numpy as np

In [2]:
legit = pd.read_csv('legit_tweets.csv')
troll = pd.read_csv('troll_tweets.csv')

/Users/jonleckie/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (0,1,2,3,4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jonleckie/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
legit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9441158 entries, 0 to 9441157
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  object
 1   date        object
 2   user        object
 3   text        object
 4   location    object
 5   retweets    float64
 6   favs        float64
 7   is_retweet  object
 8   legit       float64
dtypes: float64(3), object(6)
memory usage: 648.3+ MB

In [4]:
troll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2774590 entries, 0 to 2774589
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   date        object
 2   user        object
 3   text        object
 4   location    object
 5   is_retweet  int64
 6   retweets    float64
 7   favs        float64
 8   legit       int64
dtypes: float64(2), int64(3), object(4)
memory usage: 190.5+ MB

In [5]:
len(legit)

9441158

In [6]:
legit.head()

,Unnamed: 0,date,user,text,location,retweets,favs,is_retweet,legit
0,0,2016-10-01 21:45:05,PhyddleDD,RT @redhed67: Law professor writes that 'evide...,"Metro Atlanta, GA",19.0,0.0,False,1.0
1,1,2016-08-03 18:44:03,JOHARIWINDOWS,Obama Says Trump Unfit to Serve as US Presiden...,"TORONTO, CANADA",0.0,0.0,False,1.0
2,2,2016-08-11 16:00:16,BruceBartlett,Larry Sabato moves Pennsylvania from leaning D...,"Virginia, USA",18.0,27.0,False,1.0
3,3,2016-07-30 01:11:29,freewimin,RT @trevortimm: It's hard not to burst out lau...,Mother Earth,966.0,0.0,False,1.0
4,4,2016-08-04 21:51:01,DeRosalina,RT @CNNPolitics: Obama on Trump getting classi...,NaN,57.0,0.0,False,1.0

In [7]:
troll.head()

,Unnamed: 0,date,user,text,location,is_retweet,retweets,favs,legit
0,0,10/1/2017 19:58,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,0,-1.0,-1.0,0
1,1,10/1/2017 22:43,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,0,-1.0,-1.0,0
2,2,10/1/2017 22:50,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,1,-1.0,-1.0,0
3,3,10/1/2017 23:52,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,0,-1.0,-1.0,0
4,4,10/1/2017 2:13,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,1,-1.0,-1.0,0

In [8]:
troll['date'] = pd.to_datetime(troll['date'], infer_datetime_format=True)

In [12]:
legit['date'] = pd.to_datetime(legit['date'], infer_datetime_format=True, errors='coerce')

In [15]:
legit.drop_duplicates(inplace=True)

In [16]:
len(legit)

4992877

In [18]:
not_dt = []
for date in legit['date']:
    if type(date) != type(legit['date'][0]):
        not_dt.append(date)

In [17]:
type(legit['date'][0])

datetime.datetime

In [25]:
for i in not_dt:
    print(type(i))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'float'>
<class 'float'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>

In [20]:
len(not_dt)

573

In [26]:
legit.reset_index(drop=True, inplace=True)

In [27]:
legit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4992877 entries, 0 to 4992876
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  object
 1   date        object
 2   user        object
 3   text        object
 4   location    object
 5   retweets    float64
 6   favs        float64
 7   is_retweet  object
 8   legit       float64
dtypes: float64(3), object(6)
memory usage: 342.8+ MB

In [28]:
nan_date = []
for idx, date in enumerate(legit['date']):
    if type(date) != type(legit['date'][0]):
        nan_date.append(idx)

In [30]:
nan_date

[16822,
 22016,
 25344,
 25345,
 30839,
 41267,
 41268,
 41269,
 41270,
 48939,
 62534,
 62535,
 62536,
 65373,
 70153,
 78604,
 78605,
 83032,
 85945,
 85946,
 89238,
 97098,
 97099,
 97100,
 98404,
 122075,
 137901,
 155682,
 168642,
 168989,
 168990,
 202688,
 206453,
 211484,
 215093,
 215094,
 225479,
 225480,
 227500,
 227501,
 227502,
 245765,
 247719,
 266473,
 266474,
 266475,
 266476,
 266477,
 284678,
 289579,
 295605,
 295606,
 295689,
 295690,
 304061,
 310920,
 310921,
 310922,
 310923,
 353535,
 361507,
 361508,
 361509,
 368039,
 374545,
 374546,
 392182,
 392183,
 406497,
 409639,
 409640,
 418806,
 423642,
 439087,
 439088,
 471310,
 471311,
 471312,
 471313,
 471314,
 471315,
 471316,
 504307,
 513341,
 515854,
 540247,
 540248,
 541856,
 567489,
 567490,
 567491,
 567492,
 567493,
 567494,
 567495,
 567496,
 567497,
 575059,
 593849,
 597477,
 597906,
 597907,
 610591,
 611216,
 621380,
 622404,
 637125,
 639041,
 662429,
 662430,
 697022,
 697023,
 703876,
 727464,
 727465,
 748959,
 748960,
 748961,
 754964,
 754965,
 754966,
 754967,
 765737,
 765738,
 800722,
 815556,
 826993,
 826994,
 830336,
 847353,
 847354,
 847355,
 847356,
 847357,
 851924,
 916456,
 925228,
 946585,
 953314,
 954346,
 954347,
 1056144,
 1056145,
 1056146,
 1079355,
 1079356,
 1079357,
 1083184,
 1098505,
 1105411,
 1113765,
 1178725,
 1178726,
 1186336,
 1186337,
 1186338,
 1186339,
 1194043,
 1203388,
 1206105,
 1229462,
 1229463,
 1229464,
 1274402,
 1274403,
 1288409,
 1288410,
 1288411,
 1307156,
 1337005,
 1340169,
 1340170,
 1361361,
 1361362,
 1366848,
 1377824,
 1387696,
 1387813,
 1390223,
 1403864,
 1422306,
 1429267,
 1469282,
 1469283,
 1480624,
 1480625,
 1480626,
 1480627,
 1482233,
 1485936,
 1597546,
 1597547,
 1597548,
 1597549,
 1601651,
 1610271,
 1615277,
 1633217,
 1633218,
 1634922,
 1634923,
 1644585,
 1657206,
 1657207,
 1657208,
 1666856,
 1712779,
 1712780,
 1712781,
 1712782,
 1731505,
 1768236,
 1768237,
 1776756,
 1906055,
 1906056,
 1906057,
 1906058,
 1936927,
 1939994,
 1964300,
 2012550,
 2014230,
 2019013,
 2022186,
 2032634,
 2044104,
 2052368,
 2063277,
 2063278,
 2063279,
 2071642,
 2071643,
 2073450,
 2079592,
 2080199,
 2090333,
 2090334,
 2106792,
 2121226,
 2121227,
 2139387,
 2142046,
 2148216,
 2148217,
 2148218,
 2154016,
 2154017,
 2154087,
 2154687,
 2159560,
 2159561,
 2159562,
 2166474,
 2187355,
 2211001,
 2240711,
 2269483,
 2291981,
 2301406,
 2301407,
 2301408,
 2333910,
 2333911,
 2351764,
 2408133,
 2412434,
 2420679,
 2478506,
 2504307,
 2504308,
 2521222,
 2521223,
 2528000,
 2534984,
 2550288,
 2550289,
 2556621,
 2559978,
 2559979,
 2568175,
 2568176,
 2568177,
 2568178,
 2568179,
 2568180,
 2568181,
 2568182,
 2568183,
 2578299,
 2585225,
 2587744,
 2591120,
 2601157,
 2611126,
 2613789,
 2644374,
 2656214,
 2669559,
 2697403,
 2717345,
 2723558,
 2723559,
 2736077,
 2757244,
 2759816,
 2765757,
 2777917,
 2811781,
 2831518,
 2872186,
 2875343,
 2877343,
 2883629,
 2890977,
 2897027,
 2914757,
 2915776,
 2917515,
 2917938,
 2962501,
 2976388,
 3010189,
 3017974,
 3051395,
 3051396,
 3051397,
 3051398,
 3051399,
 3051818,
 3053317,
 3053318,
 3053319,
 3053320,
 3054732,
 3054733,
 3055487,
 3059905,
 3059906,
 3059907,
 3060515,
 3073884,
 3076207,
 3076208,
 3095564,
 3101230,
 3101231,
 3107092,
 3107093,
 3113474,
 3113510,
 3155787,
 3177074,
 3178874,
 3178875,
 3186470,
 3191836,
 3197610,
 3200633,
 3210900,
 3235046,
 3245757,
 3256398,
 3277664,
 3289107,
 3321892,
 3336076,
 3346708,
 3356722,
 3362740,
 3375279,
 3375855,
 3391711,
 3391712,
 3393774,
 3393775,
 3410252,
 3415930,
 3432265,
 3442720,
 3470747,
 3473602,
 3473603,
 3475532,
 3475533,
 3499000,
 3500779,
 3516625,
 3522344,
 3522345,
 3546389,
 3552584,
 3552585,
 3552586,
 3555322,
 3556233,
 3576921,
 3592565,
 3603185,
 3603186,
 3627768,
 3635497,
 3638818,
 3655384,
 3660708,
 3667814,
 3676223,
 3680968,
 3689952,
 3689953,
 3694466,
 3700016,
 3721265,
 3737222,
 3739868,
 3755346,
 3756569,
 3756570,
 3757225,
 3775922,
 3780651,
 3780957,
 3780958,
 3792393,
 3805212,
 3806195,
 3807157,
 3832941,
 3838910,
 3838911,
 3838912,
 3844941,
 3851639,
 3853926,
 3866652,
 3866653,
 3871638,
 3904755,
 3926384,
 3945657,
 3966263,
 3966264,
 3966265,
 3966266,
 3970716,
 3976586,
 3981367,
 4015891,
 4038052,
 4039440,
 4043835,
 4060489,
 4060490,
 4061487,
 4066722,
 4163087,
 4163088,
 4163984,
 4163985,
 4170104,
 4170105,
 4199750,
 4199751,
 4209001,
 4221177,
 4224502,
 4224503,
 4228317,
 4228318,
 4231806,
 4231807,
 4233574,
 4238488,
 4252523,
 4252524,
 4264571,
 4267059,
 4272828,
 4272829,
 4272830,
 4301451,
 4301452,
 4321817,
 4341468,
 4341469,
 4341569,
 4351784,
 4371206,
 4377158,
 4377159,
 4379750,
 4382893,
 4382894,
 4382895,
 4387329,
 4402017,
 4402018,
 4406004,
 4412672,
 4412673,
 4432495,
 4433192,
 4433193,
 4434141,
 4438802,
 4488455,
 4488456,
 4488457,
 4492871,
 4492872,
 4495996,
 4495997,
 4501730,
 4503467,
 4551397,
 4567780,
 4578488,
 4593718,
 4593719,
 4593720,
 4609457,
 4614450,
 4621752,
 4621753,
 4621754,
 4621755,
 4624570,
 4632940,
 4636762,
 4641239,
 4646314,
 4650854,
 4657238,
 4657239,
 4674928,
 4684034,
 4695822,
 4724658,
 4747662,
 4747663,
 4750534,
 4751673,
 4751674,
 4752858,
 4756315,
 4756316,
 4756317,
 4756318,
 4756319,
 4756320,
 4759273,
 4761939,
 4781196,
 4791278,
 4816196,
 4830126,
 4830127,
 4830128,
 4859079,
 4859080,
 4859081,
 4877556,
 4885060,
 4919372,
 4942506,
 4946630,
 4964715,
 4977546,
 4977547,
 4977548,
 4980561,
 4988903,
 4989170]

In [31]:
legit.drop(nan_date, inplace=True)

In [32]:
legit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4992304 entries, 0 to 4992876
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  object
 1   date        object
 2   user        object
 3   text        object
 4   location    object
 5   retweets    float64
 6   favs        float64
 7   is_retweet  object
 8   legit       float64
dtypes: float64(3), object(6)
memory usage: 380.9+ MB

In [33]:
not_dt = []
for date in legit['date']:
    if type(date) != type(legit['date'][0]):
        not_dt.append(date)

In [34]:
len(not_dt)

0

In [36]:
legit['date'] = pd.to_datetime(legit['date'], infer_datetime_format=True, errors='coerce', utc=True)

In [40]:
troll.drop('Unnamed: 0', axis=1)

,date,user,text,location,is_retweet,retweets,favs,legit
0,2017-10-01 19:58:00,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,0,-1.0,-1.0,0
1,2017-10-01 22:43:00,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,0,-1.0,-1.0,0
2,2017-10-01 22:50:00,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,1,-1.0,-1.0,0
3,2017-10-01 23:52:00,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,0,-1.0,-1.0,0
4,2017-10-01 02:13:00,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,1,-1.0,-1.0,0
...,...,...,...,...,...,...,...,...
2774585,2016-08-15 12:12:00,DanaGeezus,#IdFollowYouIf you unfollowed my mom,NaN,0,0.0,2.0,0
2774586,2015-11-30 14:01:00,DanaGeezus,"@FearLess_Man no, I like to play hashtag games...",NaN,0,0.0,0.0,0
2774587,2017-01-25 15:11:00,DanaGeezus,RT @Realpolitiki: #ItsRiskyTo To be Frisky And...,NaN,1,0.0,0.0,0
2774588,2015-06-22 14:55:00,DanaGeezus,#WhenIJoinedTwitter I've found out it's full o...,NaN,0,1.0,1.0,0
2774589,2016-06-21 15:24:00,DanaGeezus,RT @dannyreallife: #ObamaNextJob soccer mom,NaN,1,0.0,0.0,0

In [41]:
legit.to_csv('legit_tweets.csv')
troll.to_csv('troll_tweets.csv')

In [43]:
legit.drop('Unnamed: 0', axis=1, inplace=True)
troll.drop('Unnamed: 0', axis=1, inplace=True)

In [45]:
legit.is_retweet.value_counts()

-1.0     4926243
-1         50394
False      13569
Name: is_retweet, dtype: int64

In [46]:
legit.head()

,date,user,text,location,retweets,favs,is_retweet,legit
0,2016-10-01 21:45:05+00:00,PhyddleDD,RT @redhed67: Law professor writes that 'evide...,"Metro Atlanta, GA",19.0,0.0,False,1.0
1,2016-08-03 18:44:03+00:00,JOHARIWINDOWS,Obama Says Trump Unfit to Serve as US Presiden...,"TORONTO, CANADA",0.0,0.0,False,1.0
2,2016-08-11 16:00:16+00:00,BruceBartlett,Larry Sabato moves Pennsylvania from leaning D...,"Virginia, USA",18.0,27.0,False,1.0
3,2016-07-30 01:11:29+00:00,freewimin,RT @trevortimm: It's hard not to burst out lau...,Mother Earth,966.0,0.0,False,1.0
4,2016-08-04 21:51:01+00:00,DeRosalina,RT @CNNPolitics: Obama on Trump getting classi...,NaN,57.0,0.0,False,1.0

In [47]:
legit.drop('is_retweet', axis=1, inplace=True)
troll.drop('is_retweet', axis=1, inplace=True)

In [48]:
min(troll.date), max(troll.date)

(Timestamp('2009-11-24 05:21:00'), Timestamp('2018-05-30 20:58:00'))

In [50]:
min(legit.date), max(legit.date)

(Timestamp('2016-07-28 11:58:12+0000', tz='UTC'),
 Timestamp('2016-10-02 17:21:17+0000', tz='UTC'))

In [56]:
troll_window = troll[(troll['date'] >= '2016-01-01') & (troll['date'] <= '2016-11-8')]

In [57]:
len(troll_window)

827548

In [58]:
len(troll)

2774590

In [59]:
len(troll) - len(troll_window)

1947042

In [63]:
word = 'geeks for geeks'
  
# Substring is searched in 'eks for geeks' 
print(word.find('g'))

0

In [65]:
if 'ee' in word:
    print('true')

true

In [67]:
n = 'Larry Sabato moves Pennsylvania'

if 'bat' in n:
    print('b00')

b00

In [70]:
char = []
for i, t in enumerate(troll['text']):
    if type(t) == type('string'):
        if 'charlottesville' in t or 'Charlottesville' in t or 'Cville' in t:
            char.append(i)

In [71]:
len(char)

7460

In [72]:
char_troll = troll.iloc[char, :]

In [74]:
char_troll.head()

,date,user,text,location,retweets,favs,legit
5455,2017-08-13 20:55:00,666STEVEROGERS,Tiki Torch Tough Guys tried to get crunk in #C...,Unknown,-1.0,-1.0,0
8915,2017-08-12 21:58:00,ABIISSROSB,#abi Bombshell Report : Charlottesville Car Te...,United States,-1.0,-1.0,0
8918,2017-08-12 22:13:00,ABIISSROSB,#abi VIDEO : President Trump Reacts to Charlot...,United States,-1.0,-1.0,0
8940,2017-08-13 00:43:00,ABIISSROSB,#abi Hillary Reacts to Charlottesville By Blam...,United States,-1.0,-1.0,0
8941,2017-08-13 00:58:00,ABIISSROSB,#abi BREAKING : Charlottesville Death Count In...,United States,-1.0,-1.0,0

In [75]:
min(char_troll['date']), max(char_troll['date'])

(Timestamp('2015-06-05 13:10:00'), Timestamp('2018-05-03 20:57:00'))

In [77]:
second_debate = pd.read_csv('second_debate.csv')

/Users/jonleckie/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [79]:
second_debate.columns

Index(['coordinates', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'possibly_sensitive', 'retweet_count', 'retweet_id',
       'retweet_screen_name', 'source', 'text', 'tweet_url', 'user_created_at',
       'user_screen_name', 'user_default_profile_image', 'user_description',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_location', 'user_name', 'user_screen_name.1',
       'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified'],
      dtype='object')

In [87]:
def clean_hydrated(filepath):  
    df = pd.read_csv(filepath)
    df = df[df['lang'] == 'en']
    df = df.loc[:, ['created_at', 'user_screen_name', 'text', 'user_location', 'retweet_count', 'favorite_count']]
    df.rename(columns={'created_at': 'date', 'user_screen_name': 'user', 'text': 'text', 'user_location': 'location', 
                       'retweet_count': 'retweets', 'favorite_count': 'favs'}, inplace=True)
    df.drop_duplicates(ignore_index=True, inplace=True)
    df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
    df['legit'] = 1
    
    return df

In [82]:
second_debate = clean_hydrated(second_debate)

In [85]:
second_debate.date

0         2016-10-07 18:12:25+00:00
1                               NaT
2                               NaT
3                               NaT
4                               NaT
                     ...
1203748                         NaT
1203749                         NaT
1203750                         NaT
1203751                         NaT
1203752                         NaT
Name: date, Length: 1102175, dtype: datetime64[ns, UTC]

In [ ]:
errors='coerce', utc=True

In [88]:
second_debate = clean_hydrated('second_debate.csv')

/Users/jonleckie/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3347: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [89]:
second_debate.head()

,date,user,text,location,retweets,favs,legit
0,2016-10-07 18:12:25+00:00,kld_scifimom,"RT @HillaryClinton: ""Once she was made aware t...","Virginia, USA",4396,0,1
1,2016-10-08 00:20:31+00:00,kingaquarius24,RT @HillaryClinton: Women have the power to st...,"Peachtree City, GA",49702,0,1
2,2016-10-10 05:25:41+00:00,Manvir1987,RT @BDUTT: In the first #debate it was Trump o...,"Hoshiarpur, India",39,0,1
3,2016-10-10 01:21:51+00:00,M4Whiteley,RT @HillaryClinton: I want to send a message:...,"Nashville, TN",2360,0,1
4,2016-10-10 12:59:23+00:00,txgirl1963,Boom https://t.co/tbbZIZ7wjq,"San Antonio, TX",0,0,1

In [90]:
len(second_debate)

1102175

In [91]:
min(second_debate.date), max(second_debate.date)

(Timestamp('2016-10-07 01:37:45+0000', tz='UTC'),
 Timestamp('2016-10-10 17:00:52+0000', tz='UTC'))

In [92]:
second_debate.to_csv('second_debate.csv')

In [93]:
sec_deb = second_debate.drop_duplicates(ignore_index=True)

In [94]:
len(sec_deb)

601468

In [96]:
sec_deb.to_csv('second_debate.csv')

In [98]:
third_debate = clean_hydrated('third-debate.csv')

In [100]:
len(third_debate)

1119492

In [101]:
third_debate.to_csv('third_debate.csv')

### NLP Pipeline:

In [136]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from nltk.corpus import stopwords, words

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [152]:
from sklearn.model_selection import train_test_split
from sklearn.decomposition import LatentDirichletAllocation

In [ ]:
# Capstone 3 Notes

'''
Use = clean_data/ ...

	- legit_tweets
	- troll_tweets
	- second_debate
	- third_debate
'''

# columns = 'date', 'user', 'text', 'location', 'retweets', 'favs', 'is_retweet'

'''
column schema:
'ocation' = location of tweeter, NA = missing in original data
'rdate' = date/time tweet was made
'user' = twitter account holder
'text' = text of tweet
'letweets' = number of retweets, -1 = missing in original data
'favs' = number of favorites, -1 = missing in original data
'is_retweet' = 0, 1 indicator if tweet is retweet (1 is positve class, -1 = missing in original data)
'legit' = 0 indicates troll, 1 indicates legitimate

troll = 2,774,590
legit = 4,992,304
total = 7,766,894


Legit time = 
	Min = ('2016-07-28 11:58:12+0000'),
	Max = ('2016-10-02 17:21:17+0000')

Troll time = 
	Min = ('2009-11-24 05:21:00'),
	Max = ('2018-05-30 20:58:00')
'''

In [104]:
# clean tweets hydrated from GWU
def clean_hydrated(filepath):  
    df = pd.read_csv(filepath)
    df = df[df['lang'] == 'en']
    df = df.loc[:, ['created_at', 'user_screen_name', 'text', 'user_location', 'retweet_count', 'favorite_count']]
    df.rename(columns={'created_at': 'date', 'user_screen_name': 'user', 'text': 'text', 'user_location': 'location', 
                       'retweet_count': 'retweets', 'favorite_count': 'favs'}, inplace=True)
    df.drop_duplicates(ignore_index=True, inplace=True)
    df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
    df['legit'] = 1
    
    return df

# generating stop words
custom_stops = []

def get_stop_words(words, custom_stops=custom_stops):
    sw = stopwords.words('english')
    stops = words[0]
    
    for lst in words[1:]:
        stops += lst

    stops = stops + custom_stops
    
    return sw + stops

# sklearn count vectorizer
def get_countvec(corpus, stop_words='english', min_df=.01, n_grams=(1,1)):
    vectorizer = CountVectorizer(stop_words=stop_words, min_df=min_df, ngram_range=n_grams)
    X = vectorizer.fit_transform(corpus)
    feature_names = vectorizer.get_feature_names()
    
    return feature_names, X.toarray()

# sklearn tfidf vectorizer
def get_tfidf(corpus, max_features=None, min_df=.01, stop_words='english', n_grams=(1,1)):
    vectorizer = TfidfVectorizer(max_features=None, min_df=min_df, max_df=1.0, stop_words='english', ngram_range=n_grams)
    X = vectorizer.fit_transform(corpus)
    feature_names = vectorizer.get_feature_names()
    
    return feature_names, X.toarray()

# vectorizer to dataframe
def get_dataframe(X, feature_names):
    df = pd.DataFrame(data = X, columns = feature_names)
    return df

In [108]:
X = total_tweets['text']
y = total_tweets['legit']

In [118]:
total_tweets.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7766894 entries, 0 to 7766893
Data columns (total 7 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   date      7766894 non-null  object
 1   user      7766219 non-null  object
 2   text      7766893 non-null  object
 3   location  5696898 non-null  object
 4   retweets  7765941 non-null  float64
 5   favs      7765941 non-null  float64
 6   legit     7766347 non-null  float64
dtypes: float64(3), object(4)
memory usage: 414.8+ MB

In [128]:
min(legit.date), max(legit.date)

(Timestamp('2016-07-28 11:58:12+0000', tz='UTC'),
 Timestamp('2016-10-02 17:21:17+0000', tz='UTC'))

In [133]:
troll_summer = troll[(troll['date'] > '2016-06-28') & (troll['date'] > '2016-11-02')]

In [134]:
len(troll_summer)

1206477

In [137]:
# load
# legit = pd.read_csv('clean_tweets/legit_tweets.csv', parse_dates = ['date'])
# troll = pd.read_csv('clean_tweets/troll_tweets.csv', parse_dates = ['date'])


# limit troll timeframe
troll_summer = troll[(troll['date'] > '2016-06-28') & (troll['date'] > '2016-11-02')]

# combine
total_tweets = pd.concat([legit, troll_summer])
total_tweets.reset_index(drop=True, inplace=True)

# set X and y, split
# if NaN errror during trainn, test, split, run --> legit['legit'] = 1 
X = total_tweets['text']
y = total_tweets['legit']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y)

# stop words
sw = stopwords.words('english') # eventually, get_stopwords(), no custom words yet

# tfidf
vocab_mod, tfidf = get_tfidf(X, max_features=None, min_df=.01, stop_words=sw, n_grams=(1,2))

# count
vocab_eda, count = get_countvec(X, stop_words=sw, min_df=.01, n_grams=(1,2))

KeyboardInterrupt:

In [138]:
# limit troll timeframe
troll_summer = troll[(troll['date'] > '2016-06-28') & (troll['date'] > '2016-11-02')]

# combine
total_tweets = pd.concat([legit, troll_summer])
total_tweets.reset_index(drop=True, inplace=True)

In [139]:
# set X and y, split
# if NaN errror during trainn, test, split, run --> legit['legit'] = 1 
X = total_tweets['text']
y = total_tweets['legit']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y)

In [140]:
# stop words
sw = stopwords.words('english') # eventually, get_stopwords(), no custom words yet

# tfidf
vocab_tfidf, tfidf_vec = get_tfidf(X_train, max_features=None, min_df=.01, stop_words=sw, n_grams=(1,2))

# count
vocab_count, count_vec = get_countvec(X_train, stop_words=sw, min_df=.01, n_grams=(1,2))

In [141]:
count_df = pd.DataFrame(data=count, columns=vocab_eda)

In [142]:
count_df.shape

(6198781, 89)

In [143]:
count_df.head()

,america,american,amp,back,bill,breaking,campaign,clinton,cnn,co,...,video,vote,want,watch,way,white,win,women,would,years
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0

In [144]:
def get_word_freq(df):
    series = df.sum()
    series = series.apply(lambda x: x/len(series))
    return series

count_freq = get_word_freq(count_df)

In [148]:
count_freq.sort_values(ascending=False)

https       56163.595506
co          51739.280899
https co    51569.134831
trump       37224.842697
rt          34937.674157
                ...
stop          753.831461
country       750.786517
russia        743.179775
rally         739.674157
last          739.516854
Length: 89, dtype: float64

In [150]:
sorted_word_count = count_df.sum().sort_values(ascending=False)

In [151]:
sorted_word_count

https       4998560
co          4604796
https co    4589653
trump       3313011
rt          3109453
             ...
stop          67091
country       66820
russia        66143
rally         65831
last          65817
Length: 89, dtype: int64

In [126]:
len(troll.legit)

2774590

### EDA

In [ ]:
# chart word frequencies by class
# chart topics by class

In [ ]:
def lda_eval(X, n_clusters, ):

### LDA

In [156]:
lda = LatentDirichletAllocation(n_components=5)

In [ ]:
# frrom sklearn
def plot_top_words(model, feature_names, n_top_words, title):
    fig, axes = plt.subplots(2, 5, figsize=(30, 15), sharex=True)
    axes = axes.flatten()
    for topic_idx, topic in enumerate(model.components_):
        top_features_ind = topic.argsort()[:-n_top_words - 1:-1]
        top_features = [feature_names[i] for i in top_features_ind]
        weights = topic[top_features_ind]

        ax = axes[topic_idx]
        ax.barh(top_features, weights, height=0.7)
        ax.set_title(f'Topic {topic_idx +1}',
                     fontdict={'fontsize': 30})
        ax.invert_yaxis()
        ax.tick_params(axis='both', which='major', labelsize=20)
        for i in 'top right left'.split():
            ax.spines[i].set_visible(False)
        fig.suptitle(title, fontsize=40)

    plt.subplots_adjust(top=0.90, bottom=0.05, wspace=0.90, hspace=0.3)
    plt.show()